<!-- Main content, "About Me" -->
<div class="row">
  <main class="panel panel-default about-main">

    <header class="panel-heading clearfix">
      <% if current_user == @user %>        
        <div class="pull-right">
          <%= link_to "Edit your Profile", edit_profile_path, class: "btn btn-primary btn-xs" %>
        </div>
      <% end %>
      <h2 class="panel-title">About</h2>
    </header>

    <div class="panel-body">
      <div class="row">

        <div class="col-md-4">
          <table class="table">
            <tr>
              <th colspan="2">Basic Information</th>
            </tr>
            <tr>
              <td>Birthday:</td>
              <td><%= @user.profile.birthday.strftime("%B #{@user.profile.birthday.day.ordinalize}, %Y") %></td>
            </tr>
            <tr>
              <td>College:</td>
              <td><%= !@user.profile.college.blank? ? @user.profile.college : "Not Listed" %></td>
            </tr>
            <tr>
              <td>Hometown:</td>
              <td><%= !@user.profile.hometown.blank? ? @user.profile.hometown : "Not Listed" %></td>
            </tr>
            <tr>
              <td>Currently Lives:</td>
              <td><%= !@user.profile.current_location.blank? ? @user.profile.current_location : "Not Listed" %></td>
            </tr>

            <tr>
              <th colspan="2">Contact Information</th>
            </tr>
            <tr>
              <td>Email:</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td><%= !@user.profile.phone.blank? ? @user.profile.phone : "Not Listed" %></td>
            </tr>
          </table>
        </div>

        <div class="col-md-8">
          <h4>Words to Live By</h4>
          <p><%= !@user.profile.quote.blank? ? @user.profile.quote : "None Given" %></p>

          <h4>About Me</h4>
          <p><%= !@user.profile.about.blank? ? @user.profile.about : "No Information" %></p>
        </div>
      
      </div>
    </div>

  </main>

</div><!-- End Main row -->