<div class="media comment">


  <div class="pull-left byline-img">
    <% if profile_photo = comment.author.profile.profile_photo %>
      <%= image_tag profile_photo.image.url(:thumb), class: "media-object" %>
    <% else %>
      <%= image_tag "user_silhouette_generic.png", class: "media-object" %>
    <% end %>
  </div>

  <div class="media-body">
    <%= link_to comment.author.profile.full_name, user_timeline_path(comment.author) %>
    <span class="light-text"><br>
      <time datetime="<%= comment.created_at.strftime('%Y/%-m/%-d') %>">
        <%= comment.created_at.strftime('%A %-m/%-d/%Y') %>
      </time>
    </span>

    <p><%= comment.body %></p>

    <ul class="list-inline">
      <% if signed_in_user? %>
        <% if current_user == comment.author %>
          <li class="pull-right">
            <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" }  %>
          </li>
        <% end %>
        <li>      
          <% if like_id = comment.like_id_for(current_user) %>
            <%= link_to "Unlike", like_path(like_id), method: :delete  %>
          <% else %>
            <%= link_to "Like", comment_likes_path(comment), method: :post %>
          <% end %>
        </li>
      <% end %>
      <li>
        <span class="light-text">
          <%= liker_names(comment, current_user) %>
        </span>
      </li>
    </ul>
  </div>

</div>