<%= render partial: 'shared/profile_cover_photo', locals: {user: @user} %>

<%= render partial: "shared/middle_nav", locals: {user: @user} %>

<!-- Main content, "About Me" -->
<div class="row">
  <main class="panel panel-default about-main">

    <header class="panel-heading clearfix">
      <% if current_user == @user %>        
        <div class="pull-right">
          <%= link_to "Edit your Profile", edit_user_path(@user), class: "btn btn-primary btn-xs" %>
        </div>
      <% end %>
      <h2 class="panel-title">About</h2>
    </header>

    <div class="panel-body">
      <div class="row">

        <div class="col-md-4">
          <table class="table">
            <tr>
              <th colspan="2">Basic Information</th>
            </tr>
            <tr>
              <td>Birthday:</td>
              <td><%= @user.birthday.strftime("%B #{@user.birthday.day.ordinalize}, %Y") %></td>
            </tr>
            <tr>
              <td>College:</td>
              <td><%= !@user.college.blank? ? @user.college : "Not Listed" %></td>
            </tr>
            <tr>
              <td>Hometown:</td>
              <td><%= !@user.home_town.blank? ? @user.home_town : "Not Listed" %></td>
            </tr>
            <tr>
              <td>Currently Lives:</td>
              <td><%= !@user.current_town.blank? ? @user.current_town : "Not Listed" %></td>
            </tr>

            <tr>
              <th colspan="2">Contact Information</th>
            </tr>
            <tr>
              <td>Email:</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td><%= !@user.phone.blank? ? @user.phone : "Not Listed" %></td>
            </tr>
          </table>
        </div>

        <div class="col-md-8">
          <h4>Words to Live By</h4>
          <p><%= !@user.quote.blank? ? @user.quote : "None Given" %></p>

          <h4>About Me</h4>
          <p><%= !@user.about.blank? ? @user.about : "No Information" %></p>
        </div>
      
      </div>
    </div>

  </main>

</div><!-- End Main row -->