<!-- Middle navigation, offset and nested to stay away from profile picture -->
<section class="row middle-nav">

  <div class="col-xs-9 col-xs-offset-3">
    <div class="row">
    
      <div class="col-xs-12">
        <ul class="nav nav-pills">
          <% if current_user == user %>
            <%= nav_link "Edit Profile",  edit_user_profile_path(user), class: "pull-right" %>
          <% end %>
          <%= nav_link "Timeline",      "#" %>
          <%= nav_link "About",         user_profile_path(user) %>
          <%= nav_link "Photos",        photos_path, badge: 123 %>
          <%= nav_link "Friends",       friends_path, badge: 542 %>
        </ul>
      </div>

    </div>
  </div>

</section>