<!-- Cover photo and profile photo section -->
<style media="all">
  <% if cover_photo = user.profile.cover_photo %>
    .cover-photo { background-image: url(<%= cover_photo.image.url(:large) %>); }
  <% else %>
    .cover-photo { background-image: url(<%= asset_path('cover_photo.jpg') %>); }
  <% end %>
</style>

<section class="row profile-photos">

  <div class="col-xs-12 cover-photo"></div>
  <div class="col-xs-3 profile-photo">
    <% if profile_photo = user.profile.profile_photo %>
      <%= image_tag profile_photo.image.url(:small), class: "img-responsive" %>
    <% else %>
      <%= image_tag "user_silhouette_generic.png", class: "img-responsive" %>
    <% end %>
  </div>
  <div class="col-xs-5 profile-text">
    <h1>
      <%= user.profile.full_name %>
      <% if signed_in_user? && current_user != user %>
        <% if current_user.friends.include?(user) %>
          <%= link_to "Remove Friend", friend_path(id: user), method: :delete, class: "btn btn-primary"  %>
        <% else %>
          <%= link_to "Add Friend", friends_path(id: user), method: :post, class: "btn btn-primary"  %>
        <% end %>
      <% end %>
    </h1>
  </div>

</section>