<!-- Cover photo and profile photo section -->
<style media="all">
  .cover-photo { background-image: url(<%= asset_path('bowl.jpg') %>); }
</style>

<section class="row profile-photos">

  <div class="col-xs-12 cover-photo"></div>
  <div class="col-xs-3 profile-photo">
    <%= image_tag "jeff.jpg", class: "img-responsive" %>
  </div>
  <div class="col-xs-5 profile-text">
    <h1>
      <%= user.profile.full_name %>
      <% if signed_in_user? && current_user != user %>
        <% if current_user.friends.include?(user) %>
          <%= link_to "Remove Friend", friend_path(id: user), method: :delete, class: "btn btn-primary"  %>
        <% else %>
          <%= link_to "Add Friend", friends_path(id: user), method: :post, class: "btn btn-primary"  %>
        <% end %>
      <% end %>
    </h1>
  </div>

</section>