<!-- Navbar fixed to the top, inverse -->
<nav class="navbar navbar-fixed-top navbar-inverse" id="top-bar">
  <div class="container">

    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do  %>
        <%= image_tag "danish_flag.gif", alt: "Danish Flag Logo", class: "img-circle" %>Danebook
      <% end %>
    </div>

    <% unless signed_in_user? %>

      <%= form_tag sessions_path, class: 'navbar-form navbar-right', role: 'logon' do %>

        <div class="form-group form-group-sm">
          <%= label_tag "Email Address", nil, class: "sr-only" %>
          <%= email_field_tag :email, nil, placeholder: "Email Address" %>
        </div>

        <div class="form-group form-group-sm">
          <%= label_tag "Password", nil, class: "sr-only" %>
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>

        <%= submit_tag "Logon", class: 'btn btn-default btn-sm' %>

      <% end %>

    <% else %>



      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_user.profile.first_name.capitalize, user_profile_path(current_user) %></li>
      </ul>

    <% end %>

  </div>
</nav>