<!-- Navbar fixed to the top, inverse -->
<nav class="navbar navbar-fixed-top navbar-inverse" id="top-bar">
  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand"><%= image_tag "danish_flag.gif", alt: "Danish Flag Logo", class: "img-circle" %>Danebook</a>
    </div>

    <% unless signed_in_user? %>

      <%= form_tag sessions_path, class: 'navbar-form navbar-right', role: 'logon' do %>

        <div class="form-group form-group-sm">
          <%= label_tag "Email Address", nil, class: "sr-only" %>
          <%= email_field_tag :email, nil, placeholder: "Email Address" %>
        </div>

        <div class="form-group form-group-sm">
          <%= label_tag "Password", nil, class: "sr-only" %>
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>

        <%= submit_tag "Logon", class: 'btn btn-default btn-sm' %>

      <% end %>

    <% else %>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for Users">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Jeff", about_path %></li>
      </ul>

    <% end %>

  </div>
</nav>