<div class="row photo-row">
  <div class="col-md-8 col-md-offset-2">
    <main class="panel panel-default">

      <header class="panel-heading">
        <h2 class="panel-title">Upload Photo</h2>
      </header>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_for @photo do |photo_form| %>

              <div class="form-group">
                <%= photo_form.label :url, "Enter the URL to a photo on the web" %>
                <%= photo_form.text_field :url %>
                <%= render partial: 'shared/form_error', 
                       locals: {errors: @photo.errors.messages[:url]} %>
              </div>

              <div class="text-center">
                <h4>OR</h4>
              </div>

              <div class="form-group">
                <%= photo_form.label :image, "Select a photo from your computer" %>
                <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-default btn-file">
                          Browse&hellip; 
                          <%= photo_form.file_field :image, value: nil %>
                      </span>
                  </span>
                  <input id="filename" type="text" class="form-control" readonly>
                </div>
                <%= render partial: 'shared/form_error', 
                       locals: {errors: @photo.errors.full_messages_for(:image)} %>
              </div>
              
              <div class="text-center">
                <%= photo_form.submit "Upload Photo", class: "btn btn-primary" %>
              </div>

            <% end %>
          </div>

        </div>
      </div>

    </main>
  </div>

</div>