<section class="panel panel-default">

  <div class="panel-body">
    <div class="media">

      <div class="pull-left">
        <% if profile_photo = post.author.profile.profile_photo %>
          <%= image_tag profile_photo.image.url(:thumb), class: "media-object" %>
        <% else %>
          <%= image_tag "user_silhouette_generic.png", class: "media-object" %>
        <% end %>
      </div>

      <div class="media-body">
        <%= link_to post.author.profile.full_name, user_timeline_path(post.author) %><br>
        <span class="light-text"> 
          <time datetime="<%= post.created_at.strftime('%Y/%-m/%-d') %>">
            <%= post.created_at.strftime('%A %-m/%-d/%Y') %>
          </time>
        </span>
      </div>

    </div>

    <p>
      <%= post.body %>
    </p>
    
  </div>

  <div class="panel-footer clearfix">
  
    <% if signed_in_user? %> 
      <ul class="list-inline">
        <% if current_user == post.author %>
          <li class="pull-right">
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }  %>
          </li>
        <% end %>
        <li>      
          <% if like_id = post.like_id_for(current_user) %>
            <%= link_to "Unlike", like_path(like_id), method: :delete  %>
          <% else %>
            <%= link_to "Like", post_likes_path(post), method: :post %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <p>
      <span class="light-text">
        <%= liker_names(post, current_user) %>
      </span>
    </p>

    <% if post.comments.any? %>
      <hr>
      <%= render partial: post.comments %>
    <% end %>

    <% if signed_in_user? %>
      <%= render partial: "comments/comment_form", locals: { parent: post } %>
    <% end %>

  </div>
  
</section>