<!-- Container for all Timeline page content -->
<main class="row timeline-main">
  <div class="row"><!-- Double row is used to correct panel margin -->


    <!-- Right Timeline Column, post box and feed 
    Column is pushed to the right at medium and above so when stacked
    at smaller sizes the Timeline/Post area appears above.-->
    <div class="col-sm-8 col-sm-push-4 newsfeed">


      <!-- New Timeline Post input textarea -->
      <% if current_user == @user %>
        <section id="post-form" class="panel panel-default">
          <%= form_for @post, remote: true do |post_form| %>
            
            <header class="panel-heading">
              <h4 class="panel-title">Post</h4>
            </header>
            <div class="panel-body">
            <div class="form-group">
              <%= post_form.label :body, class: "sr-only" %>
              <%= post_form.text_area :body, placeholder: "Tell the world something...", rows: 4 %>
              <%= render partial: 'shared/form_error', locals: {errors: @post.errors.full_messages_for(:body)} %>
            </div>
            </div>
            <div class="panel-footer clearfix">
              <%= post_form.submit "Post", class: "btn btn-primary pull-right" %>
            </div>
            
          <% end %>
        </section>
      <% end %>

      <!-- Timeline News Feed -->      
      <!-- Another post, with comments -->
      <% if @posts = @user.posts.select(&:persisted?) %>
        <%= render partial: @posts %>
      <% else %>
        <section class="panel panel-default">
          <div class="panel-body text-center">
            <h4>No Posts on Timeline!</h4>
          </div>
        </section>
      <% end %>

    </div><!-- End Right Timeline Column -->



    <!-- Left Timeline Column, about, photos, friends -->
    <div class="col-sm-4 col-sm-pull-8">
      
      <!-- Small About box -->
      <section class="panel panel-default">

          <header class="panel-heading">
            <h4 class="panel-title">About</h4>
          </header>

          <div class="panel-body timeline-about">

            <table class="table table-condensed">
              <tr>
                <th colspan="2">Basic Information</th>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td><%= @user.profile.birthday.strftime("%B #{@user.profile.birthday.day.ordinalize}, %Y") %></td>
              </tr>
              <tr>
                <td>College:</td>
                <td><%= !@user.profile.college.blank? ? @user.profile.college : "Not Listed" %></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><%= !@user.profile.hometown.blank? ? @user.profile.hometown : "Not Listed" %></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><%= !@user.profile.current_location.blank? ? @user.profile.current_location : "Not Listed" %></td>
              </tr>
            </table>

          </div>

      </section>


      <!-- Small photos box -->
      <% if @user.photos.any? %>
        <%= render partial: "photos/photos_widget", locals:
                   { photos: @user.photos } %>
      <% end %>


      <!-- Small friends box -->
      <% if @user.friends.any? %>
        <%= render partial: "friends/friends_widget", locals:
                   { friends: @user.friends } %>
      <% end %>

    </div><!-- End Left Timeline Column -->


  </div><!-- End Double row, panel fix -->
</main><!-- End Main timeline content -->